<h1>Bank Clients</h1>

<p *ngIf="!(bankClients$ |async)">Loading...</p>

<p>
    <a [routerLink]="['/add']" class="btn btn-primary float-end mb3">New Client</a>
</p>

<table class="table table-sm table-hover" *ngIf="(bankClients$ |async)!.length>0">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Office</th>
            <th>Date Of Birth</th>
            <th>Next Of Kin</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let bankClient of (bankClients$ | async)">
            <td>{{bankClient.id}}</td>
            <td><a [routerLink]="['/bankclient', bankClient.id]">{{bankClient.name}}</a></td>
            <td>{{bankClient.office}}</td>
            <td>{{bankClient.dateOfBirth | date:'dd.MM.y'}}</td>
            <td>{{bankClient.nextofKin}}</td>

            <td><a [routerLink]="['/bankclient/edit/', bankClient.id]" class="btn btn-primary btn-sm float-right">Edit</a></td>
            <td><a routerLink="" (click)="delete(bankClient.id)" class="btn btn-danger btn small float-right">Delete</a></td>
        </tr>
    </tbody>
</table>